


/* KPIS*/
.parte_branca {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.kpis {

    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    gap: 60px;
    flex-wrap: wrap;
}





.kp1 {
    background-color: #F0F9FF;
    border: 1.06667px solid #66C0F4;
    width: 20%;
    border-radius: 15px;
    box-shadow: #0F1C2E;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

    height: 65%;
    padding-left: 15px;
    padding-bottom: 10px;



}



.kp1 h1 {
    font-weight: 400;
    font-size: 20px;
    color: #6B7280;
}

.kp1 h2 {
    font-size: 25px;
}







.kp2 {
    background: rgb(255, 255, 255);
    border: 2px solid #E5E7EB;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 20%;
    border-radius: 15px;

    height: 65%;

    padding-left: 15px;
    padding-bottom: 10px;
}

.kp2 h1 {

    font-size: 20px;

}

.kp2 h2 {
    font-size: 25px;
    color: #F5CC4D;
}


.kp3 {
    background: rgb(255, 255, 255);
    border: 2px solid #E5E7EB;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 20%;
    border-radius: 15px;

    height: 65%;

    padding-left: 15px;
    padding-bottom: 10px;
}


.kp3 h1 {
    color: #FF5252;
    font-size: 20px;

}

.kp3 h2 {
    font-size: 25px;
    color: #FF5252;
}



.grafico_alerta {
    width: 100%;

    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grafico {
    height: 90%;
    background: rgb(255, 255, 255);
    border: 2px solid #E5E7EB;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 55%;
    border-radius: 5px;
    padding: 12px;
    padding-left: 15px;
}

.grafico_titulo {
    height: 12%;
}

.grafico_alerta h1 {
    font-weight: 700;
    font-size: 18px;
}

.grafico_alerta h2 {
    font-weight: 350;
    font-size: 16px;
    color: #6B7280;
}

.grafico_chart {
    padding-top: 5px;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.grafico_chart canvas {
    width: 100% !important;
    height: 100% !important;
}




.grafico_legendas {
    display: flex;

    height: 10%;

    align-items: center;
    justify-content: center;
    gap: 25px;

}

.grafico_legendas h1 {
    font-weight: 500;
    font-size: 15px;
}

.legenda1 {
    color: #FF5252;
    display: flex;
    gap: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.quadrado_legenda1 {
    background-color: #FF5252;
    width: 10px;
    height: 10px;
}



.legenda2 {
    color: #F5CC4D;
    display: flex;
    gap: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.quadrado_legenda2 {
    background-color: #F5CC4D;
    width: 10px;
    height: 10px;
}



.legenda3 {
    color: #66C0F4;
    display: flex;
    gap: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.quadrado_legenda3 {
    background-color: #66C0F4;
    width: 10px;
    height: 10px;
}


.grafico_kpis {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    padding-top: 10px;
    gap: 20px;
}

.grafico_kp1 {

    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;


}

.grafico_kp1 h1 {
    font-size: 15px;
    font-weight: 350;
    margin: 0;
}



.grafico_kp1 p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
}


.grafico_kp2 {

    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
    background-color: #ffd1d1;


}

.grafico_kp2 h1 {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}



.grafico_kp2 p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #FF5252;
}


.grafico_kp3 {

    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
    background-color: #fff1c6;


}



.grafico_kp3 h1 {
    font-size: 12px;
    font-weight: 350;
    margin: 0;
}



.grafico_kp3 p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #F5CC4D;
}


.grafico_kp4 {

    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
    background-color: #ccecff;


}

.grafico_kp4 h1 {
    font-size: 12px;
    font-weight: 350;
    margin: 0;
}



.grafico_kp4 p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #66C0F4;
}

.tendencia {
    margin-top: 20px;
    display: flex;
    background-color: #f0fdf4;
    border: solid 2px #4caf50;
    height: 15%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    text-align: left;
}


.tendencia img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.tendencia h1 {
    font-weight: 400;
    font-size: 15px;
}

.tendencia p {
    font-weight: 300;
    font-size: 12px;
}

.lista_alertas {

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    background-color: rgba(102, 192, 244, 10%);
    border-radius: 10px;
    border: solid 3px #66C0F4;
    padding-right: 60px;
    padding: 40px;
}

.div_lista_alertas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    overflow-y: overlay;
    padding: 20px;
    justify-content: center;

    padding-right: 50px;


}


.div_lista_alertas::-webkit-scrollbar {
    width: 20px;

}



.div_lista_alertas::-webkit-scrollbar-track {
    background: transparent;
    padding-right: 10px;
}

.div_lista_alertas::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;

}



.card_alerta {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 5px;

    width: 100%;
    height: 100%;

    max-width: 477.21px;
    max-height: 141.79px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 15px 10px 10px 20px;

}








.titulo_card_alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0px !important;


    gap: 40px;

    width: 94.8%;
    height: 22%;


}


.cards {
    display: flex;
    gap: 10px;
    height: 90%;
    align-items: center;

}


.cards1 {
    display: flex;
    gap: 20px;
    font-size: 8px;

    text-align: center;
    align-items: center;
    white-space: nowrap;


}





.titulo_texto_card_alerta {
    text-align: center;
}



.icon_titulo_card_alerta {

    width: 20%;
    height: 100%;


}





.titulo_card_alerta img {
    max-height: 29px;
    max-width: 37px;



}




.status_titulo_card_alerta {
    background-color: #ffd1d1;

    border-radius: 20px;
    color: #FF5252;
    width: 80%;
    max-width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;


}



.componente_titulo_card_alerta {
    background-color: #66C0F4;
    border-radius: 20px;
    color: #244770;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;

}


.identificação_servidor {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    width: 94.8%;
    height: 38%;
    white-space: nowrap;
    font-size: 8px;
    color: #6B7280;
    gap: 10px;



}





.linha_referencia {
    width: 100%;
    max-width: 424.64px;
    height: 1.6px;

    background: #D9D9D9;
    align-items: center;

}

.linha_referencia_grafico {
    width: 100%;
    height: 1.6px;

    background: #D9D9D9;
    align-items: center;
}

.botoes_card_alerta {
    width: 94.8%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 25px;
}

.botoes_card_alerta button {
    border-radius: 10px;
    border: 0px;
    width: 25%;
    cursor: pointer;
}

.resolver button {
    background-color: #66C0F4;
}


/* ######## (MOBILE E TABLETS) ######## */



@media (max-width: 1024px) {
    .parte_branca {
        gap: 10px;
    }

    .grafico {
        width: 95%;
        height: 100%;
    }


    .titulo_card_alerta {
        justify-content: center;
    }


    .kpis {
        gap: 10px;
        height: 10%;
        flex-direction: row;
        width: 100%;
    }

    .kp1 {
        width: 30%;

    }

    .kp2 {
        width: 30%;
    }

    .kp3 {
        width: 30%;
    }


    .corpoPagina {
        height: auto;
    }


    .sidebar {
        width: 250px;
        height: auto;
        border-top: none;
        border-bottom: 1px solid var(--azul-escuro);
    }










}

@media (max-width: 768px) {

    .right-nav {
        margin-right: 20px;
        display: flex;
    }

    .logo-nav {
        width: 130px;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .userInfo {
        display: none;
    }

    .userImg {
        width: 35px;
        height: 35px;
    }

    .separacao {
        margin: 0 10px;
    }


    .corpoPagina {
        flex-direction: column;
        height: 20000px;
    }


    .sidebar {
        width: 100%;
        height: auto;
        border-top: none;
        border-bottom: 1px solid var(--azul-escuro);
    }

    .sidebar-buttons {
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }


    .sidebar-buttons::-webkit-scrollbar {
        display: none;
    }

    .sidebar-buttons {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .sidebar-button-select,
    .sidebar-button {
        flex-direction: column;
        height: auto;
        min-width: 85px;
        padding: 10px 5px;
        border-left: none;
        justify-content: center;
        flex: 1;
    }

    .sidebar-button-select {
        border-bottom: 3px solid var(--azul-claro);
    }

    .sidebar-button-select p,
    .sidebar-button p {
        margin: 5px 0 0 0;
        font-size: 0.70rem;
        text-align: center;
    }


    .kpis {
        gap: 10px;
        height: 10%;
        flex-direction: row;
        width: 100%;
    }

    .kp1 {
        width: 30%;

    }

    .kp2 {
        width: 30%;
    }

    .kp3 {
        width: 30%;
    }



    .grafico {
        width: 100%;
        height: 100%;
    }

    .grafico_alerta {
        height: 100%;
        padding: 0;
    }

    .parte_branca {
        height: auto;
    }

    .corpoPagina {
        height: auto;
    }


    .titulo_card_alerta {
        justify-content: center;
        gap: 5px;
    }

    .cards1 {
        gap: 5px
    }

    ;

    .identificação_servidor {
        font-size: 5px;
    }

    .botoes_card_alerta button {
        width: 50%;
    }

    .corpoPagina {
        height: auto;
    }



}

@media (max-width: 480px) {

    .corpoPagina {
        height: auto;
    }

    .kp1 {

        font-size: 5px;
        width: 50%;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .kp2 {


        font-size: 5px;
        width: 30%;
        height: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    .kp3 {

        font-size: 5px;
        width: 30%;
        height: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }



    .grafico {
        width: 98%;

        height: 90%;


    }

    .grafico_kpis {
        text-align: center;

    }

    .card_alerta {
        width: 100%;
    }


    .div_lista_alertas {
        padding: 0;
    }


    .lista_alertas {

        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        background-color: rgba(102, 192, 244, 10%);
        border-radius: 10px;
        border: solid 3px #66C0F4;

    }

    .div_lista_alertas {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        overflow-y: overlay;

        justify-content: center;


    }


    .identificação_servidor {
        font-size: 5px;

    }


    .titulo_card_alerta {
        gap: 5px;
    }

    .titulo_card_alerta h1 {
        font-size: 10px;
    }


    .titulo_card_alerta img {
        height: 28px;
        width: 35px;
    }

    .cards1 {
        gap: 10px;
    }

    .cards {
        display: flex;
        gap: 5px;
        height: 90%;
        align-items: center;

    }

    .botoes_card_alerta button {
        width: 50%;
    }

    .titulo_card_alerta {



        justify-content: center;
    }


    .kpis {
        gap: 10px;
        height: 20%;
        flex-direction: column;
        width: 100%;
    }

    .kp1 {
        width: 100%;
        height: 100px;
    }

    .kp2 {
        width: 100%;
        height: 100px;
    }

    .kp3 {
        width: 100%;
        height: 100px;
    }






}


@media (max-width: 360px) {
    .identificação_servidor {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        width: 90%;
        height: 38%;
        white-space: nowrap;
        font-size: 5px;
        color: #6B7280;
        gap: 10px;
        text-align: center;


    }





    .kpis {
        gap: 10px;
        height: 20%;
        flex-direction: column;
        width: 100%;
    }

    .kp1 {
        width: 100%;
        height: 100px;
    }

    .kp2 {
        width: 100%;
        height: 100px;
    }

    .kp3 {
        width: 100%;
        height: 100px;
    }




}


@media (max-width: 344px) {

    .titulo_card_alerta {
        gap: 0px;
    }

    .cards1 {
        gap: 5px;
    }



    .cards1 h1 {
        font-size: 8px;
    }

    .status_titulo_card_alerta {
        width: 50%;
    }


    .identificação_servidor {
        font-size: 4.5px;
    }

    .kpis {
        gap: 5px;
        height: 20%;
        flex-direction: column;
        width: 100%;
    }



}