* {
  font-family: "IBM Plex Sans", sans-serif !important;
}

body {
  background-color: #ededed;
  box-sizing: border-box;
}
:root {
  --KPI1: #66c0f4;
  --KPI2: #ff5252;
  --KPI3: #f5cc4d;
  --KPI4: #4caf50;
  --KPI1-icon: #66c0f47a;
  --KPI2-icon: #ff52527a;
  --KPI3-icon: #f5cc4d7a;
  --KPI4-icon: #4caf507a;
}

/* MEXENDO NA SIDEBAR E NO NAV BAR PARA FICAREM ESTATICO NA TELA */

header {
  width: 100%;
  height: 10vh;
  background-color: var(--azul-mais-escuro);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.sidebar {
  width: 18%;
  height: 100%;
  margin-top: 10vh;
  max-width: 100%;
  background-color: var(--azul-mais-escuro);
  border-top: solid var(--azul-escuro) 0.5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  position: fixed;
}
.corpoPagina {
  display: flex;
  background-color: var(--fundo-pagina);
  width: 100%;
  height: auto;
  flex-direction: row;
  max-width: 100%;
}

/* KPISSSSSSSSSSSSSSS ////////////////////////*/

#container_kpis {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px red;
  display: flex;
  gap: 1%;
}

#container_kpis .div_kpi {
  width: 20rem;
  height: 8rem;
  border-left: 7px solid black;
  background-color: white;
  border-radius: 12px;
  padding: 1%;
  display: flex;
  gap: 5%;
  border-right: 2px solid #e3e3e4 !important;
  border-top: 2px solid #e3e3e4 !important;
  border-bottom: 2px solid #e3e3e4 !important;
}

#container_kpis .div_kpi h3 {
  color: #494b4e;
  font-weight: 400;
  font-size: 1rem;
  width: 14rem;
  margin: 0;
}

#container_kpis .div_kpi h1 {
  margin: 0;
  font-size: 2rem;
}

/* H4 */
.div_kpi h4 {
  margin: 0;
  font-size: 0.8rem;
}

.info_kpi h4 {
  color: #66c0f4;
}

.info_kpi {
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* COntainer */
#container_kpis .kpi1 {
  border-color: var(--KPI1);
}

#container_kpis .kpi2 {
  border-color: var(--KPI2);
}

#container_kpis .kpi3 {
  border-color: var(--KPI3);
}

#container_kpis .kpi4 {
  border-color: var(--KPI4);
}

/* h1 */
.info_kpi h1 {
  color: #0f1c2e;
}

.div_icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: -1rem;
}

.div_icon img {
  width: 3rem;
  height: 2.5rem;
}

.kpi1_Icon {
  background-color: var(--KPI1-icon);
}

.kpi2_Icon {
  background-color: var(--KPI2-icon);
}

.kpi3_Icon {
  background-color: var(--KPI3-icon);
}

.kpi4_Icon {
  background-color: var(--KPI4-icon);
}

#container_kpis {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px red;
  display: flex;
  gap: 1%;
}

/* GRAFICO USO MEDIO DE RECUSOOOOOOOOOSSSSSSSSSSS */

.SubcorpoPagina {
  width: 100%;
  height: auto;
  margin-left: 18%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.grafico-usoMedioRecursos {
  position: relative;
  width: 80%;
  height: auto;
  /* background: red; */
  margin-top: 1rem;
  border: solid #e5e7eb 3px;
  box-shadow: 3px 5px 10px 1px rgba(112, 112, 112, 0.305);
  padding: 5px;
  border-radius: 15px;
}

#chartusomedio {
  height: 40vh;
}
/* GRAFICO USO PICO DE USO SEMANAAAAAAAAL */

.grafico-PicoUsoSemanal {
  
  width: 80%;
  margin: 1rem auto; 
  border: solid #e5e7eb 2px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  font-family: sans-serif;
}


.header-grafico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.texto-titulo h3 {
  margin: 0;
  font-size: 1.1rem;
}
.texto-titulo span {
  font-size: 0.8rem;
  color: #888;
}


#select-componente {
  background: #f0f7ff;
  border: 1px solid #cce5ff;
  border-radius: 8px;
  padding: 5px 10px;
  outline: none;
}


.canvas-container {
  height: 35vh; 
  width: 100%;
}


.footer-grafico {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #f0f0f0;
  text-align: center;
}

.stat p {
  margin: 0;
  font-size: 0.75rem;
  color: #888;
  text-transform: uppercase;
}
.stat b {
  font-size: 1.2rem;
}
