* {
    font-family: "IBM Plex Sans", sans-serif !important;
}

body {
    background-color: #EDEDED;
    box-sizing: border-box;
}

.info_kpi h3 {
    color: #6B7280;
}

 .container_kpis {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px red;
    display: flex;
    gap: 1%;
}

.container_kpis .div_kpi {
    width: 15%;
    height: 8rem;
    background-color: white;
    border-radius: 12px;
    padding: 1%;
    display: flex;
    gap: 5%;
    border-right: 2px solid #e3e3e4 !important;
    border-top: 2px solid #e3e3e4 !important;
    border-bottom: 2px solid #e3e3e4 !important;
}

.container_kpis .div_kpi h3 {
    color: #494B4E;
    font-weight: 400;
    font-size: 1rem;
    width: 14rem;
    margin: 0;
}

.container_kpis .div_kpi h1 {
    margin: 0;
    font-size: 2rem;
}

.div_kpi h4 {
    margin: 0;
    font-size: 0.8rem;
}

.info_kpi h4 {
    color: #66C0F4;
}

.info_kpi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.info_kpi h1 {
    color: #0F1C2E;
}

.container_kpis {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px red;
    display: flex;
    gap: 1%;
}

.SubcorpoPagina{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.boxBusca {
    background-color: white;
    border-radius: 20px;
    border: 2px solid #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
}

.input-com-icone {
    background-image: url('../assets/dashboard-servidor/Lupa.png');
    padding-left: 40px;
    height: 40px;
    width: 100%;
}

.busca input {
    border: none;
    border-radius: 10px;
    background-color: #E5E7EB;
    display: flex;
    height: 3.5vh;

}