@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #f1f1f1;
}

main {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

header .navbar-nav .nav-link:hover {
  color: #66C0F4 !important;
  transition: .2s;
}

header .nav-login button {
  width: 120px;
  height: 38px;
  background-color: #F5CC4D;
  padding: 14px 35px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

header .nav-login button:hover {
  filter: brightness(1.2);
  transform: translateY(-1px);
}

header a {
  text-decoration: none;
  color: #ffffff;

  font-weight: 300;
  font-size: 20px;
  margin-right: 15px;
}

main #div_banner {
  width: 100%;
  height: 90vh;
  padding-left: 90px;
  padding-bottom: 120px;
  background: linear-gradient(to right,
      rgba(10, 18, 32, 0.85) 0%,
      rgba(10, 18, 32, 0.65) 45%,
      rgba(10, 18, 32, 0.25) 60%,
      rgba(10, 18, 32, 0.0) 85%),
    url("../assets/fundos-home/image_2.png");
  background-size: cover;
  position: relative;
}

main #div_banner #div_banner_titulo {
  font-size: 60px;
  color: #ffffff;
  padding-top: 90px;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 15px;
}

main #div_banner #div_banner_titulo span {
  color: #F5CC4D;
}

main #div_banner #div_banner_subtitulo {
  font-size: 25px;
  color: #ffffff;

  font-weight: 200;
}

main #div_banner #div_banner_button {
  margin-top: 18px;
}

main #div_banner #div_banner_button #button_yellow,
main #div_banner #div_banner_button #button_transparent_blue {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

main #div_banner #div_banner_button #button_yellow {
  background-color: #F5CC4D;
  border: none;
}

main #div_banner #div_banner_button #button_transparent_blue {
  background-color: #2c5d861e;
  border: solid 2px #66C0F4;
  color: #ffffff;
  margin-left: 10px;
}

main #div_banner #div_banner_button a {
  color: inherit;
  text-decoration: none;
}

main #div_banner #div_banner_button #button_yellow:hover,
main .botao-amarelo:hover,
main #sobre-empresa button:hover {
  transform: translateY(-1px);
  filter: brightness(1.2);
}

main #div_banner #div_banner_button #button_transparent_blue:hover {
  color: #66C0F4;
  transform: translateY(-1px);
  box-shadow: 0 3px 10px #66C0F4;
}

main #div_relatorios {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
  background-color: #0b1c2d;
}

main #div_relatorios #div_relatorios_kpi {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  padding-top: 15px;
}

main #div_relatorios #div_relatorios_kpi .kpi {
  flex: 1;
  height: 120px;
  background-color: #2E5375;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 20px;
  transition: 0.25s;
}

main #div_relatorios #div_relatorios_kpi .kpi {
  background-color: #244770;
  color: #ffffff;
  border-radius: 5px;
}

main #div_relatorios #div_relatorios_kpi .kpi:hover {
  transform: translateY(-4px);
}

main #div_relatorios #div_relatorios_kpi .kpi span {
  font-size: 40px;
  color: #f4f4f4;
  filter: drop-shadow(0 0 4px #f4f4f4);
  font-weight: 400;
}

main #div_relatorios #div_relatorios_kpi .kpi span:hover {
  transform: translateY(-1px);
}

main #div_relatorios #div_relatorios_kpi .kpi img {
  width: 60px;
  height: 60px;
  filter: brightness(1.1);
}

main #monitoramento {
  background-color: #0F1C2E;
  margin-top: -95px;
  padding-top: 140px;
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  height: 100vh;
}

main #monitoramento .container-monitoramento {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
}

main #monitoramento h1 {
  font-size: 42px;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 10px;
}

main #monitoramento p {
  margin-bottom: 60px;
  font-size: 20px;
  color: white;
  font-weight: lighter;
}

main #monitoramento .cards-container {
  display: flex;
  gap: 35px;
}

main #monitoramento .cards-container .elementos {
  flex: 1;
  background-color: #244770;
  border-radius: 12px;
  padding: 40px 25px;
  min-height: 250px;
  transition: 0.25s;
  margin-bottom: 50px;
  font-size: 16px;
  color: #e1ecf5;
  text-align: left;
  font-weight: 300;
}

main #monitoramento .cards-container .elementos:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}

main #monitoramento .cards-container .elementos img {
  width: 70px;
  display: block;
  margin-bottom: 18px;
  filter: brightness(1.1);
}

main #monitoramento .cards-container .elementos span {
  font-size: 24px;
  font-weight: 500;
  display: block;
  text-align: left;
}

main #terceiro-banner {
  background: linear-gradient(to right,
      rgba(10, 18, 32, 0.95) 0%,
      rgba(10, 18, 32, 0.90) 40%,
      rgba(10, 18, 32, 0.60) 55%,
      rgba(10, 18, 32, 0.0) 70%),
    url('../assets/fundos-home/terceira-imagem.png');
  background-size: cover;
  background-position: right center;
  padding: 120px 0;
  height: 100vh;
}

main #terceiro-banner .banner-conteudo {
  display: flex;
  align-items: center;
  min-height: 420px;
}

main #terceiro-banner .banner-conteudo #sobre-empresa {
  width: 50%;
  color: white;
}

main #terceiro-banner .banner-conteudo #sobre-empresa h1 {
  font-size: 40px;
  margin-bottom: 18px;

}

main #terceiro-banner .banner-conteudo #sobre-empresa p {
  margin-bottom: 30px;
  font-size: 18px;
  max-width: 520px;
  font-weight: 300;
}

main #terceiro-banner .banner-conteudo #sobre-empresa button {
  background: #F5CC4D;
  border: none;
  padding: 14px 28px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

main #diferenciais {
  background: linear-gradient(#0e2438, #0b1c2d);
  padding: 80px 0;
  color: white;
  text-align: center;
}

main #diferenciais .container-diferenciais {
  width: 85%;
  margin: auto;
  text-align: center;
}

main #diferenciais .cards-diferenciais {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}

main #diferenciais .cards-diferenciais .card-diferencial {
  flex: 1;
  max-width: 300px;
  text-align: center;
}

main #diferenciais .cards-diferenciais .card-diferencial img {
  width: 70px;
  margin-bottom: 20px;
  transition: 0.2s;
}

main #diferenciais .cards-diferenciais .card-diferencial img:hover {
  transform: translateY(-4px);
}

main #diferenciais .cards-diferenciais .card-diferencial p {
  font-size: 15px;
  color: white;
  font-weight: 300;
}

main #diferenciais .linha-destaque {
  height: 2px;
  margin: 60px 0;
  background: linear-gradient(to right, transparent, #F5CC4D, transparent);
}

main #diferenciais .cta-diferenciais a {
  text-decoration: none;
  color: inherit;
}

main #diferenciais .botao-amarelo {
  background-color: #F5CC4D;
  padding: 14px 35px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.container-custom {
  width: 80%;
  margin: auto;
}

footer#footer {
  background-color: #071625;
  padding: 60px 0;
  color: white;
  display: flex;
}

footer#footer .container-footer {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

footer#footer .container-footer .coluna-footer {
  flex: 0.2;
}

footer#footer .container-footer .coluna-footer h4 {
  margin-bottom: 20px;
  font-size: 25px;
}

footer#footer .container-footer .coluna-footer p,
footer#footer .container-footer .coluna-footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

footer#footer .container-footer .coluna-footer a:hover {
  color: #66C0F4;
}

footer#footer .container-footer-img {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0;
}

footer#footer .container-footer-img img {
  width: 3vw;
  margin: 0;
  padding: 0;
}

footer#footer .coluna-footer-img {
  display: none;
}

.st-login-section,
.st-cadastro-section {
  display: flex;
  height: calc(100vh - 70px);
}

.st-login-left {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.st-login-container,
.st-cadastro-container {
  width: 100%;
  max-width: 350px;
}

.st-login-card,
.st-cadastro-card {
  width: 100%;
}

.st-cadastro-card {
  margin-top: 30px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.st-login-card h2,
.st-cadastro-card h2 {
  margin-bottom: 30px;
  text-align: center;
  color: #f5c542;
}

.st-campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.st-campo label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #bbbbbb;
}

.st-campo input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #1f3d6b;
  background-color: #0f223f;
  color: white;
  outline: none;
}

.st-cadastro-card .st-campo input {
  border-color: #3a3b44;
  background-color: #2f3038;
  color: black;
}

.st-campo input:focus {
  border-color: #f5c542;
}

.st-botao {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #f5c542;
  color: #0b1f3a;
  font-weight: bold;
  cursor: pointer;
}

.st-botao:hover {
  background-color: #e0b232;
}

.st-login-right {
  width: 55%;
  background-size: cover;
  background-position: center;
}

.alerta_erro {
  position: absolute;
  top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card_erro {
  display: none;
  background-color: #ff4d4d;
  padding: 10px 20px;
  border-radius: 6px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg);
  }

  25% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

@media (max-width: 1024px) {

  .container-custom,
  main #monitoramento .container-monitoramento,
  main #diferenciais .container-diferenciais,
  footer#footer .container-footer {
    width: 90%;
  }

  main #div_relatorios #div_relatorios_kpi {
    flex-wrap: wrap;
    justify-content: center;
  }

  main #div_relatorios #div_relatorios_kpi .kpi {
    flex: none;
    width: 45%;
  }

  main #div_banner {
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  main #div_banner {
    height: auto;
    padding: 60px 20px 120px 20px;
    text-align: center;
    background: linear-gradient(rgba(10, 18, 32, 0.9), rgba(10, 18, 32, 0.7)), url("../assets/fundos-home/image_2.png");
    background-size: cover;
  }

  main #div_banner #div_banner_titulo {
    font-size: 36px;
    padding-top: 40px;
  }

  main #div_banner #div_banner_subtitulo {
    font-size: 18px;
  }

  main #div_banner #div_banner_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  main #div_banner #div_banner_button #button_transparent_blue {
    margin-left: 0;
  }

  main #div_relatorios #div_relatorios_kpi .kpi {
    width: 100%;
  }

  main #monitoramento .cards-container {
    flex-direction: column;
  }

  main #monitoramento .cards-container .elementos {
    min-height: auto;
  }

  main #terceiro-banner {
    background-position: center;
    padding: 60px 0;
  }

  main #terceiro-banner .banner-conteudo #sobre-empresa {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  main #terceiro-banner .banner-conteudo #sobre-empresa p {
    margin: 0 auto 30px auto;
  }

  main #diferenciais .cards-diferenciais {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  footer#footer .container-footer {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  footer#footer .container-footer-img {
    display: none;
  }

  footer#footer .coluna-footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer#footer .coluna-footer-img img {
    width: 30vw;
    margin: 0;
  }
}

@media (max-width: 480px) {
  main #div_banner #div_banner_titulo {
    font-size: 28px;
  }

  main #monitoramento h1 {
    font-size: 30px;
  }

  main #div_relatorios #div_relatorios_kpi .kpi span {
    font-size: 30px;
  }

  header .navbar-brand img {
    height: 40px;
  }
}