
:root {
    --tituloKPI: #494B4E;
    --Cpu: #00b68bb0;
    --Ram: #461ea49b;
    --Disco: #4c6ef5;
    --KPI-urgente: #e30000;
    --KPI-importante: #f4b805;
    --KPI-normal: #027806;
    --azulClarinho: #66C0F4;
    --corDaFonte: #0F1C2E;
}

#container_kpis * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#container_kpis {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 2%;
    flex-wrap: wrap;
    color: var(--corDaFonte);
}

#container_kpis .div_kpi {
    width: 18.5%;
    /* width: 22%;
    width: 25%;*/
    height: 100%;
    background-color: #F4FBFF;
    border-radius: 12px;
    padding: 1%;
    display: flex;
    border: 2px solid #0073b65a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}


.info_kpi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.containerTitulo {
    display: flex;
}

#container_kpis .div_kpi h3 {
    color: #494B4E;
    font-weight: 400;
    font-size: clamp(0.9rem, 1.2vw, 1.3rem);
    width: 14rem;
    height: 100%;
}

#container_kpis .div_kpi h1 {
    margin: 0;
    font-size: clamp(1.5rem, 2vw, 2.2rem);
}

#container_kpis .div_kpi h2 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--tituloKPI);
    font-weight: 500;
}

#container_kpis .div_kpi h4 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: #0F1C2E;
}

.status {
    display: flex;
    align-items: center;
    gap: 2%;
}

#circuloStatus {
    border-radius: 50%;
    background-color: var(--tituloKPI);
    width: 10px;
    height: 10px;
}

#container_kpis .kpi2,
#container_kpis .kpi4 {
    border: 2px solid var(--KPI-urgente);
}

#container_kpis .kpi2 h1,
#container_kpis .kpi4 h1 {
    color: #c62222;
}

#container_kpis .kpi3,
#container_kpis .kpi5 {
    border: 2px solid var(--KPI-importante);
}

#container_kpis .kpi3 h1,
#container_kpis .kpi5 h1 {
    color: #e9cd00;
}

#container_kpis .kpi5 {
    border: 2px solid var(--KPI-normal);
}

#container_kpis .kpi5 h1 {
    color: #027823;
}

.div_situacao {
    display: flex;
    gap: 5%;
}

.div_situacao img {
    width: 12%;
}

@media (max-width: 768px) {
    #container_kpis {
        gap: 20px;
        justify-content: center;
    }

    #container_kpis .div_kpi {
        flex: 1 1 100%;
        max-width: 100%;
    }
}